---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePagination from "../components/ArchivePagination.astro";
import { minima } from "../lib/minima";
import { buildTitle } from "../config/site";
import ProjectCard from "../components/ProjectCard.astro";

const url = new URL(Astro.request.url);
const page = parseInt(url.searchParams.get("page") || "1");
const limit = 4;
const offset = (page - 1) * limit;

// Fetch all projects
const response = await minima.getPublicEntities();
const allProjects = response.data?.data || [];

// Paginate
const paginatedProjects = allProjects.slice(offset, offset + limit);

const pagination = {
  total: allProjects.length,
  limit,
  offset,
  page,
  totalPages: Math.ceil(allProjects.length / limit),
};

const projects = paginatedProjects;

const title = await buildTitle("Projects");
const description = "Latest Projects";
---

<BaseLayout title={title} description={description}>
  <div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-medium m-0 mb-4 text-center">All Projects</h1>

    <div class="max-w-4xl mx-auto my-4">
      {
        projects.length === 0 ? (
          <p>No projects found.</p>
        ) : (
          <div class="grid grid-cols-2 gap-4">
            {projects.map((project) => (
              <ProjectCard project={project} />
            ))}
          </div>
        )
      }
    </div>
  </div>
  <div
    class="max-w-4xl mx-auto bg-white p-4 rounded shadow border border-sky-600 mt-4"
  >
    {
      pagination && (
        <ArchivePagination
          pagination={pagination}
          basePath="/projects"
          itemLabel="projects"
        />
      )
    }
  </div>
</BaseLayout>
