---
import type { PublicArticle } from "../sdk/types.gen";

interface Props {
  article: PublicArticle;
  imageUrl: string;
}
const { article, imageUrl } = Astro.props;
---

<div>
  <img
    class="w-full h-auto my-0"
    src={imageUrl}
    alt={article.headline || article.heroImage?.caption}
    loading="lazy"
    width={article.heroImage?.width}
    height={article.heroImage?.height}
  />
</div>
